<!-- all -->
<!--<a href="{{ site.url }}/posts" title="posts" class="posts-menu-icon"></a>
<span class="posts-link menu-link">POSTS</span>-->

<div class="menu-box">

    <!-- 알고리즘 -->
    <div class="btn-box">
        <a href="{{ site.url }}/algorithm" title="algorithm" class="algorithm-menu-icon menu-icon-btn">
            <i class="fa fa-puzzle-piece"></i>
        </a>
        <span class="algorithm-link menu-link">ALGORITHM</span>
    </div>

    <!-- 매일함수 -->
    <div class="btn-box">
        <a href="{{ site.url }}/function" title="function" class="function-menu-icon menu-icon-btn">
            <i class="fa fa-flask"></i>
        </a>
        <span class="function-link menu-link">FUNCTION</span>
    </div>

    <!-- dev -->
    <div class="btn-box">
        <a href="{{ site.url }}/dev" title="code" class="dev-menu-icon menu-icon-btn">
            <i class="fa fa-code"></i>
        </a>
        <span class="dev-link menu-link">DEVELOP</span>
    </div>
</div>

<!-- tags -->
<!--<a href="{{ site.url }}/tags" title="tags" class="tags-menu-icon menu-icon-btn">
    <i class="fa fa-tags"></i>
</a>
<span class="tags-link menu-link">TAGS</span>-->
<!-- <a title="project" class="projects-menu-icon">
  <span></span>
</a> -->
<!-- <span class="projects-link">PROJECTS</span> -->
