<!--  Replace menu links here -->

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/tutorials.html">Tutorials</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/devlog.html">Devlog</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/function.html">매일함수</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/algorithm.html">알고리즘</a>
</li>
<!-- <li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li> -->