<!--  Replace menu links here -->

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/categories.html#tutorials">Tutorials</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/categories.html#devlog">Devlog</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/categories.html#function">매일함수</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/categories.html#algorithm">알고리즘</a>
</li>
<!-- <li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li> -->