---
layout: compress
menuTitle: true
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="homepage">
<script id="dsq-count-scr" src="//freevue.disqus.com/count.js" async></script>

<div class="block-left">
    <div class="content">
        <div class="main-info">
            <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
            <h1>
                {{ site.title }}
            </h1>
            <h2>
                {{ site.description }}
            </h2>
            {% include social-links.html %}
        </div>
    </div>
    <canvas></canvas>
</div>

<div class="block-right">
    {% include menu-btn.html %}
    <div class="content">
        <div class="about-info">
            {{ content }}
        </div>
    </div>
</div>
{% include overlay.html %}
{% include scripts.html %}
<script src="{{ site.url }}/assets/js/canvas.js"></script>
</body>
</html>
